{% extends 'base.html' %}

{% block main %}

<div class="container">
  <h4>Cart</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">number</th>
        <th scope="col">subtotal</th>
      </tr>
    </thead>
    <tbody>
    {% for id, num in mycart.items() %}
    {% set pd = products[id] %}
      <tr>
        <td>{{id}}</th>
        <td>{{pd.name}}</td>
        <td>{{pd.price}}</td>
        <td>{{num}}</td>
        <td>{{pd.price * num }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}