{% extends 'base.html' %}

{% block main %}
<div class="container">
    <form action="/product/{{product.id}}/edit" method="post">
        <div>
          <label for="name">Name:</label>
          <input id="name" type="text" name="name" value="{{product.name}}">
          {% if errors['name'] %}
            <div>{{ errors['name'] }}</div>
            {% endif %}
        </div>
        <div>
          <label for="pricce">Price:</label>
          <input id="price" type="text" name="price" value="{{product.price}}">
          {% if errors['price'] %}
          <div>{{ errors['price'] }}</div>
          {% endif %}
        </div>
        <div>
            <label for="pricce">Image:</label>
            <input id="img" type="text" name="img" value="{{product.img}}">
            {% if errors['img'] %}
            <div>{{ errors['img'] }}</div>
            {% endif %}
        </div> 
        <div>
            <label for="pricce">Description:</label>
            <input id="desc" type="text" name="desc" value="{{product.desc}}">
        </div> 
        {% if errors['desc'] %}
        <div>{{ errors['desc'] }}</div>
        {% endif %}
        <p><button type="submit">Submit</button></p>
    </form>
    </div>
{% endblock %}